@import './variables.less';

.about-title {
    color: rgba(255, 239, 0, 0.5);
    font-size: 60px;
    letter-spacing: -5px;
    margin: 20px auto;
    position: relative;
    width: 162px;

    &:after {
        content: "About";
        position: absolute;
        left: 10px;
        top: 5px;
        color: rgba(255,0,0,0.5);
    }
}

.about-container {
    svg {
        height: 60px;
        width: 60px;
        transition: all 0.3s;

        &:hover {
            cursor: pointer;
            filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .5));
        }
    }
    p {
        max-width: 500px;
        font-size: 24px;
        margin: 25px auto;
    }
    a {
        color: lightcyan;
        text-decoration: underline;

        &:hover {
            animation: rainbow .75s infinite;
        }
    }
}

.bubbles {
    display: flex;
    justify-content: center;
}

// .img1 {
//     animation-delay: 2s;
// }

.img2 {
    animation-delay: 0.5s;
}

.img3 {
    animation-delay: 1s;
}

.img4 {
    animation-delay: 1.5s;
}

.floating{
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 10s;
    -webkit-animation-duration: 10s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    border-radius: 50%;
    height: 125px;
    width: 125px;
}

@keyframes floating {
    0% {
        transform: translateX(0);
    }
    25% {
         transform: translateX(20px);
    }
    75% {
        transform:translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Standard syntax */
@keyframes rainbow {
    0% {
      color: red;
    }
    16.6% {
      color: orange;
    }
    33.2% {
      color: yellow;
    }
    49.8% {
      color: green;
    }
    66.4% {
      color: blue;
    }
    83% {
      color: purple;
    }
    100% {
      color: red;
    }
}

@media @md {
    .floating {
        height: 80px;
        width: 80px;
    }
    .about-container p {
        font-size: 18px;
        padding: 0 15px;
    }
}
