@import './variables.less';

.about-title {
    color: rgba(255, 239, 0, 0.5);
    font-size: 60px;
    letter-spacing: -5px;
    margin: 20px auto;
    position: relative;
    width: 162px;

    &:after {
        content: "About";
        position: absolute;
        left: 10px;
        top: 5px;
        color: rgba(255,0,0,0.5);
    }
}

.about-container {
    background-color: rgba(37, 37, 37, 0.23);
    border-radius: 20px;
    margin: 0 auto;
    max-height: 65%;
    padding: 30px;
    width: 500px;

    svg {
        height: 60px;
        width: 60px;
        transition: all 0.3s;

        &:hover {
            cursor: pointer;
            filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .5));
        }
    }
    p {
        max-width: 500px;
        font-size: 24px;
        margin: 25px auto;
    }
    a {
        color: lightcyan;
        text-decoration: underline;

        &:hover {
            animation: rainbow .75s infinite;
        }
    }
}

.bubbles {
    display: flex;
    justify-content: center;
    padding-top: 10px;

    h3 {
        margin-top: 0;
    }
}

.floating{
    animation: bounce 0.75s infinite alternate;
    -webkit-animation: bounce 0.75s infinite alternate;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    border-radius: 50%;
    height: 125px;
    width: 125px;
}

.img2 {
    animation-delay: 0.25s;
}

.img3 {
    animation-delay: 0.5s;
}

.img4 {
    animation-delay: 0.75s;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

/* Standard syntax */
@keyframes rainbow {
    0% {
      color: red;
    }
    16.6% {
      color: orange;
    }
    33.2% {
      color: yellow;
    }
    49.8% {
      color: green;
    }
    66.4% {
      color: blue;
    }
    83% {
      color: purple;
    }
    100% {
      color: red;
    }
}

@media @md, @md-height {
    .floating {
        height: 80px;
        width: 80px;
    }
    .about-container {
        width: 75%;

        p {
            font-size: 16px;
            margin: 0 auto;
        }
    }
}
